.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/



# garde éventuellement les résultats légers :
# !data/processed/*.parquet
# !figures/

# --- Autres
.DS_Store
.env


# Ignorer tout le dossier data par défaut
data/**

# --- Exceptions que l’on souhaite garder dans le repo
!data/
!data/raw/
!data/raw/velib/
!data/raw/velib/system_information.json
!data/raw/velib/station_information.csv
!data/raw/velib/snapshots/
!data/raw/velib/snapshots/**
